{{!< base}}

{{#contentFor "metas"}}
<title>Dashboard</title>
{{/contentFor}}

<div class="modal hidden fixed bg-black bg-opacity-60 justify-center items-center z-50 h-screen w-full">

    <div class="w-6/12 h-auto pb-4 bg-white divide-opacity-100 shadow-lg shadow-gray-800 rounded-md">
        <div class="flex justify-end items-end">
            <a href="#" class="text-2xl px-4 py-2">X</a>
        </div>
        <div class="grid justify-center items-center">
            <div class="text-3xl flex row-span-2">
                Are you sure you want to delete ?
            </div>
            <div class="flex justify-center items-center">
                <button class="bg-gray-50 hover:bg-green-600">Yes</button>
                <button class="bg-red-600 hover:bg-red-500 text-gray-100">No</button>
            </div>
        </div>
    </div>
</div>

<div class="bg-gray-50 mx-4 my-2">

        
            {{> quicklinks }}

            <ul>
                <li class='flex mb-2 bg-gray-300 gap-3 justify-center items-start p-4'>
                    <input class='h-8 w-8 mt-2' title='item' type="checkbox" name="item" id="">
                    <div class='flex-1'>
                        <h3 class='text-2xl'>Kwiga</h3>
                        <p>Tugomba kwiga ibinjyanye na django vuba vuba biteika, Tugomba kwiga ibinjyanye na django vuba vuba biteika Tugomba kwiga ibinjyanye na django vuba vuba biteika</p>
                        <div class="flex my-2 gap-2" id='tags'>
            
                            <div class="bg-orange-600 px-2 text-gray-200 text-sm rounded-md">Student</div>
                            <div class="bg-orange-600 px-2 text-gray-200 text-sm rounded-md">School</div>
                            <div class="bg-orange-600 px-2 text-gray-200 text-sm rounded-md">Information</div>
                            <div class="bg-orange-600 px-2 text-gray-200 text-sm rounded-md">Data</div>
                            <div class="bg-orange-600 px-2 text-gray-200 text-sm rounded-md">Mining</div>
                        </div>
                    </div>
                    <div class='inline-flex space-x-4 pr-4'>
                        <a title='edit' href="#"><svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                        </svg></a>
                        <a title='delete' href="#"><svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-red-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                        </svg></a>
                    </div>
                </li>
                <li class='flex mb-2 bg-gray-300 gap-3 justify-center items-center p-4'>
                    <input class='h-8 w-8' title='item' type="checkbox" name="item" id="">
                    <div class='flex-1'>
                        <h3 class='text-2xl'>Kwiga</h3>
                        <p>Tugomba kwiga ibinjyanye na django vuba vuba biteika, Tugomba kwiga ibinjyanye na django vuba vuba biteika
                            Tugomba kwiga ibinjyanye na django vuba vuba biteika</p>
                    </div>
                    <div class='inline-flex space-x-4 pr-4'>
                        <a title='edit' href="#"><svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                            </svg></a>
                        <a title='delete' href="#"><svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-red-700" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                            </svg></a>
                    </div>
                </li>
                <li class='flex mb-2 bg-gray-300 gap-3 justify-center items-center p-4'>
                    <input class='h-8 w-8' title='item' type="checkbox" name="item" id="">
                    <div class='flex-1'>
                        <h3 class='text-2xl'>Kwiga</h3>
                        <p>Tugomba kwiga ibinjyanye na django vuba vuba biteika, Tugomba kwiga ibinjyanye na django vuba vuba biteika
                            Tugomba kwiga ibinjyanye na django vuba vuba biteika</p>
                    </div>
                    <div class='inline-flex space-x-4 pr-4'>
                        <a title='edit' href="#"><svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                            </svg></a>
                        <a title='delete' href="#"><svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-red-700" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                            </svg></a>
                    </div>
                </li>
                <li class='flex mb-2 bg-gray-300 gap-3 justify-center items-center p-4'>
                    <input class='h-8 w-8' title='item' type="checkbox" name="item" id="">
                    <div class='flex-1'>
                        <h3 class='text-2xl'>Kwiga</h3>
                        <p>Tugomba kwiga ibinjyanye na django vuba vuba biteika, Tugomba kwiga ibinjyanye na django vuba vuba biteika
                            Tugomba kwiga ibinjyanye na django vuba vuba biteika</p>
                    </div>
                    <div class='inline-flex space-x-4 pr-4'>
                        <a title='edit' href="#"><svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                            </svg></a>
                        <a title='delete' href="#"><svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-red-700" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                            </svg></a>
                    </div>
                </li>
                <li class='flex mb-2 bg-gray-300 gap-3 justify-center items-center p-4'>
                    <input class='h-8 w-8' title='item' type="checkbox" name="item" id="">
                    <div class='flex-1'>
                        <h3 class='text-2xl'>Kwiga</h3>
                        <p>Tugomba kwiga ibinjyanye na django vuba vuba biteika, Tugomba kwiga ibinjyanye na django vuba vuba biteika
                            Tugomba kwiga ibinjyanye na django vuba vuba biteika</p>
                    </div>
                    <div class='inline-flex space-x-4 pr-4'>
                        <a title='edit' href="#"><svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                            </svg></a>
                        <a title='delete' href="#"><svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-red-700" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                            </svg></a>
                    </div>
                </li>
                
            </ul>


            
        </div>